In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("D:/pandas/unstack_stack_data.xlsx", header=[0,1], index_col=[0])
df

              Price                  price to earning ratio (P/E)         \
company    Facebook Google Microsoft                     Facebook Google
2021-03-08      155    980        60                         37.0   32.3
2021-03-09      160    982        64                         38.7   33.0
2021-03-10      159    981        63                         38.3   32.9
2021-03-11      161    978        65                         39.0   31.7
2021-03-12      164    975        66                         40.0   31.0


company    Microsoft
2021-03-08      30.4
2021-03-09      31.0
2021-03-10      30.9
2021-03-11      31.5
2021-03-12      31.6

In [3]:
# to stack that dataset i just need to use stack()

# it takes inner most column and transpose it
df.stack()

                      Price  price to earning ratio (P/E)
           company
2021-03-08 Facebook     155                          37.0
           Google       980                          32.3
           Microsoft     60                          30.4
2021-03-09 Facebook     160                          38.7
           Google       982                          33.0
           Microsoft     64                          31.0
2021-03-10 Facebook     159                          38.3
           Google       981                          32.9
           Microsoft     63                          30.9
2021-03-11 Facebook     161                          39.0
           Google       978                          31.7
           Microsoft     65                          31.5
2021-03-12 Facebook     164                          40.0
           Google       975                          31.0
           Microsoft     66                          31.6

In [4]:
df1 = df.stack(level=0)  #by default the level is -1.
df1

company                                  Facebook  Google  Microsoft
2021-03-08 Price                            155.0   980.0       60.0
           price to earning ratio (P/E)      37.0    32.3       30.4
2021-03-09 Price                            160.0   982.0       64.0
           price to earning ratio (P/E)      38.7    33.0       31.0
2021-03-10 Price                            159.0   981.0       63.0
           price to earning ratio (P/E)      38.3    32.9       30.9
2021-03-11 Price                            161.0   978.0       65.0
           price to earning ratio (P/E)      39.0    31.7       31.5
2021-03-12 Price                            164.0   975.0       66.0
           price to earning ratio (P/E)      40.0    31.0       31.6

In [8]:
df1.unstack()

company    Facebook                              Google  \
              Price price to earning ratio (P/E)  Price
2021-03-08    155.0                         37.0  980.0
2021-03-09    160.0                         38.7  982.0
2021-03-10    159.0                         38.3  981.0
2021-03-11    161.0                         39.0  978.0
2021-03-12    164.0                         40.0  975.0

company                                 Microsoft
           price to earning ratio (P/E)     Price price to earning ratio (P/E)
2021-03-08                         32.3      60.0                         30.4
2021-03-09                         33.0      64.0                         31.0
2021-03-10                         32.9      63.0                         30.9
2021-03-11                         31.7      65.0                         31.5
2021-03-12                         31.0      66.0                         31.6

In [14]:
newdf = pd.read_excel("D:/pandas/stack_unstack_data2.xlsx", header=[0,1,2], index_col=[0])
newdf

        Price Ratio                                                       \
              Price                  price to earning ratio (P/E)
company    Facebook Google Microsoft                     Facebook Google
Q1 2019         155    980        60                         37.0   32.3
Q2 2019         160    982        64                         38.7   33.0
Q3 2019         159    981        63                         38.3   32.9
Q4 2020         161    978        65                         39.0   31.7
Q5 2020         164    975        66                         40.0   31.0

                  Income Ratio
                     Net sales                  Net Profit
company Microsoft     Facebook Google Microsoft   Facebook Google Microsoft
Q1 2019      30.4         12.0   18.0       8.0        5.4    7.9       2.3
Q2 2019      31.0         12.0   19.0       7.0        5.5    8.0       2.2
Q3 2019      30.9         13.0   18.9       6.0        5.2    8.2       2.0
Q4 2020      31.5         12.5   20.0       6.2        5.3    8.9       2.1
Q5 2020      31.6         12.3   19.5       6.0        5.0    8.6       2.2

In [15]:
newdf.stack()  # it takes inner most column and transpose it

                  Income Ratio           Price Ratio  \
                    Net Profit Net sales       Price
        company
Q1 2019 Facebook           5.4      12.0         155
        Google             7.9      18.0         980
        Microsoft          2.3       8.0          60
Q2 2019 Facebook           5.5      12.0         160
        Google             8.0      19.0         982
        Microsoft          2.2       7.0          64
Q3 2019 Facebook           5.2      13.0         159
        Google             8.2      18.9         981
        Microsoft          2.0       6.0          63
Q4 2020 Facebook           5.3      12.5         161
        Google             8.9      20.0         978
        Microsoft          2.1       6.2          65
Q5 2020 Facebook           5.0      12.3         164
        Google             8.6      19.5         975
        Microsoft          2.2       6.0          66


                  price to earning ratio (P/E)
        company
Q1 2019 Facebook                          37.0
        Google                            32.3
        Microsoft                         30.4
Q2 2019 Facebook                          38.7
        Google                            33.0
        Microsoft                         31.0
Q3 2019 Facebook                          38.3
        Google                            32.9
        Microsoft                         30.9
Q4 2020 Facebook                          39.0
        Google                            31.7
        Microsoft                         31.5
Q5 2020 Facebook                          40.0
        Google                            31.0
        Microsoft                         31.6

In [ ]:
qdf = pd.read_csv